body {
  font-family: "Arial", sans-serif;
  background-color: #f8f9fa;
}

header {
  background-image: url("hero-background.jpg");
  background-size: cover;
  color: white;
  padding: 100px 0;
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 1.2rem;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

#deals-in {
    background-color: #f8f9fa;
    padding: 40px 0;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #007bff;
    /* Color of the control icons */
    border-radius: 50%;
}

.carousel-indicators [data-bs-target] {
    background-color: #007bff;
    /* Indicator color */
}

.carousel-indicators .active {
    background-color: #0056b3;
    /* Active indicator color */
}

.carousel-control-prev,
.carousel-control-next {
    filter: invert(1);
    /* Invert colors to ensure visibility */
}


#company-details .card {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
}

#company-details h3 {
    font-weight: bold;
    font-size: 1.75rem;
}

#company-details p {
    font-size: 1rem;
    color: #555;
}

#company-details .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

#company-details .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    transition: transform 0.2s ease;
}
.product-card:hover {
    transform: scale(1.05);
}
.product-img {
    max-width: 100px;
    margin: auto;
    display: block;
}
.badge-warranty {
    background-color: #f8f9fa;
    color: #b67e30;
    border-radius: 5px;
    padding: 5px;
    font-size: 0.9rem;
    position: absolute;
    top: 10px;
    right: 10px;
}
.rating-stars {
    color: green;
    font-size: 1.1rem;
}

#payment-mode {
    background-color: #f8f9fa;
    padding: 40px 0;
}

.payment-card {
    text-align: center;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.payment-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.payment-card img {
    max-width: 100px;
    margin-bottom: 15px;
}

.payment-card h5 {
    margin-bottom: 10px;
    font-size: 1.25rem;
    font-weight: bold;
}


footer {
  background-color: #343a40;

}

footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
